body {font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    margin: 0;
    padding: 0;
}
.app {
    max-width: 600px;
    margin: 60px auto;
    background-color: burlywood;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 30px black
}

h1 {
    text-align: center;
    margin-bottom:25px;
}
form {
    display: flex;
    gap: 10px;
}
input {
    flex: 1;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid purple;
}
ul {
    list-style: none;
    
}
button {
padding: 8px;
border-radius: 6px;
color: black;
border-style: none;

     
}
li {display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background: bisque;
    margin-bottom: 10px;
    border-radius: 6px;

}
.complete{
    text-decoration: line-through;
    color: gray;
}
.actions button {
    background: orangered;
    margin: 8px;
}
.actions .done-btn {
    background: green;
}
footer {
    margin-top: 25px;
    text-align: center;
    font-size: 14px;
    color: darkslategray;
}